{% extends "all_questions" %}


{% block question %}
<p>
The cats must be ordered by name and will enter an elevator one by one.
We would like to know what the running total weight is.
<hr/>
Return: name, running total weight
<br/>
Order by: name
</p>

{% endblock question %}

{% block on_correct %}
Over allows us to break down our aggregate functions, it is often used for running totals
{% endblock on_correct %}
