{% extends "init" %}

{% block heading %}
      Limiting results Over data
{% endblock heading %}


 {% block blurb %}
 These questions test your knowledge of the <a href='https://docs.microsoft.com/en-us/sql/t-sql/queries/select-over-clause-transact-sql'>Over</a> Command. Over is useful in limiting or tweaking the data returned from agreggate functions
 {% endblock blurb %}
