{% extends "all_questions.html.tera" %}


{% block question %}

<p>
This SQL function can be made simpler by using the WINDOW statement. Please try and use the WINDOW clause.
</p><p>
Each cat would like to see what half, third and quartile they are in for their weight.
<hr/>
Return: name, weight, by_half, thirds, quartile
<br/>
Order by: weight

</p>
{% endblock question %}

{% block on_correct %}
Use of Window can simplify some of our complex queries
{% endblock on_correct %}
