{% extends "init" %}

{% block heading %}
Ranking the row output
{% endblock heading %}

 {% block blurb %}
 These questions check your knowledge of ranking. Ranking can add an ordered number to each of your
 output rows. The commands used are: rank, row_number, dense_rank, cume_dist, percent_rank
 {% endblock blurb %}
