{% extends "base" %}

{% block heading %}
SQL Window Function Question 1: Use Over
{% endblock heading %}

{% block question %}

The cats have lined up ordered by name are about to enter an elevator one by one.
We would like to know what the running total weight of each group of cats is. 
<br/>
Return: cat name and total weight of this group of cats

{% endblock question %}

