{% extends "all_questions" %}

{% block heading %}
Q1: Running Totals
{% endblock heading %}

{% block question %}

The cats are ordered by name and have lined up and are about to enter an elevator one by one.
We would like to know what the running total weight of each group of cats is. 
<br/>
Return: cat name and total weight of this group of cats

{% endblock question %}

