{% extends "all_questions" %}

{% block heading %}
Q9: Using Window
{% endblock heading %}

{% block question %}

This SQL function can be made simpler by using the WINDOW command. Please try and use the WINDOW command.
<br/>
Each cat would like to see what half, third and quartile they are in for their weight.
<br/>
Return: name, weight, by_half, thirds, quartile

{% endblock question %}

