{% extends "all_questions" %}

{% block heading %}
Q2: Partitioned Running Totals
{% endblock heading %}

{% block question %}

The cats are ordered by first breed and second by name and are about to enter an elevator one by one.
When all the cats of the same breed have entered they leave. 
<br/>
We would like to know what the running total weight of the cats is. 
<br/>
Return: name, breed and total weight of this group of cats

{% endblock question %}

