{% extends "all_questions" %}

{% block heading %}
Q4: Orderring
{% endblock heading %}

{% block question %}

<p>
We would like to find the fattest (and 2nd, 3rd etc) cat of each breed
</p><p>
We must order all the cats by weight grouped by their breed. The heaviest cat must be first.
</p><p>
Return: ranking, name, breed, weight 
</p>
{% endblock question %}

