{% extends "all_questions" %}

{% block heading %}
Q5: Quartiles
{% endblock heading %}

{% block question %}
<p>
We are worried our cats are too fat.
</p><p>
We would like to group the cats into quartiles by their weight.
</p><p>
Return: name, weight, weight_quartile
</p>

{% endblock question %}

