{% extends "all_questions" %}

{% block heading %}
Q5: Quartiles
{% endblock heading %}

{% block question %}

We are worried our cats are too fat.
<br/>
We would like to group the cats into quartiles by their weight.
<br/>
Return: name, weight, weight_quartile

{% endblock question %}

