{% extends "all_questions" %}

{% block heading %}
Q6: Ranking
{% endblock heading %}

{% block question %}

We would like to rank the cats by age (oldest first). However we would like their ranking to be sequentially increasing.
<br/>
Return: ranking, name, age

{% endblock question %}

