{% extends "all_questions" %}

{% block heading %}
Q6: Ranking
{% endblock heading %}

{% block question %}

<p>
We would like to rank the cats by age (oldest first). However we would like their ranking to be sequentially increasing.
</p><p>
Return: ranking, name, age
</p>

{% endblock question %}

