{% extends "base" %}

{% block heading %}
SQL Window Function Question 6: Use dense_rank
{% endblock heading %}

{% block question %}

We would like to rank the cats by age (youngest first). However we would like their ranking to be sequentially increasing.
<br/>
Return: ranking, name, age

{% endblock question %}

