{% extends "all_questions" %}

{% block heading %}
Q7 Compare to Previous Row
{% endblock heading %}

{% block question %}

Cats are fickle. Each cat would like to lose weight to be the equivalent weight of the cat weighing just less than it.
<br>
Print a list of cats, their weights and the weight difference between them and the nearest lighter cat.
<br/>
Return: name, weight, target_weight

{% endblock question %}

