{% extends "all_questions" %}

{% block heading %}
Q9: First of each Group
{% endblock heading %}

{% block question %}

Cats are vain. Each cat would like to pretend it has the lowest weight for its color.
<br/>
Print cat name, color and the minimum weight of cats with that color.
<br/>
Return: name, color, lowest_weight_by_color

{% endblock question %}

