{% extends "all_questions" %}

{% block question %}
<p>
We would like to find the average weight of cats grouped by breed.
Also, in the same query find the average weight of cats grouped by breed whose age is over 1
<hr/>
Return: breed, average_weight, average_old_weight
Order by: breed
</p>

{% endblock question %}

{% block on_correct %}
Filter can be used to adjust our aggregate functions
{% endblock on_correct %}

